<div class="footer">
  <div class="about">
    <p>ABOUT</p>
    <div class="company">
      <%= link_to "Company", "#" %>
    </div>
    <div class="team">
      <%= link_to "Team", "#team" %>
    </div>
    <div class="press">
      <%= link_to "Press Kit", "#" %>
    </div>
    <div class="terms">
      <%= link_to "Terms of use", "#" %>
    </div>
    <div class="policy">
      <%= link_to "Privacy Policy", "#" %>
    </div>
  </div>
  <div class="resources">
    <p>RESOURCES</p>
    <div class="whitepaper">
      <%= link_to "Whitepaper (coming soon)", "#" %>
    </div>
    <div class="roadmap">
      <%= link_to "Roadmap", "#" %>
    </div>
    <div class="ico">
      <%= link_to "ICO planning", "#" %>
    </div>
    <div class="faq">
      <%= link_to "FAQ", "#" %>
    </div>
    <div class="trademark">
      <p>2018 BUYE Inc.</p>
    </div>
  </div>
  <div class="community">
    <p>COMMUNITY</p>
    <div class="gitHub">
      <%= link_to "GitHub", "#" %>
      <a href="#"><i class="fab fa-github"></i></a>
    </div>
    <div class="medium">
      <%= link_to "Medium", "#" %>
      <a href="#"><i class="fab fa-medium"></i></a>
    </div>
    <div class="telegramLink">
      <%= link_to "Telegram", "#" %>
      <a href="#"><i class="fab fa-telegram"></i></a>
    </div>
    <div class="twitter">
      <%= link_to "Twitter", "#" %>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</div>
