<div class="teamContent">
  <div id="team" class="container">
    <div class="teamTitle">
      <h1>Team</h1>
    </div>
    <p>French team based in Los Angeles, California.</p>
    <div class="teamMembers">
      <div class="CEO">
        <div class="picto">
          <%= image_tag("picto.png", :alt => "picto", :class => "roundedImage") %>
        </div>
        <h2>Damien Daübe</h2>
        <h2>CEO</h2>
        <p>Ecommerce Director</p>
        <p>Consensys developer program</p>
      </div>
      <div class="CTO">
        <div class="picto">
          <%= image_tag("picto.png", :alt => "picto", :class => "roundedImage") %>
        </div>
        <h2>Michael Trazzi</h2>
        <h2>CTO, Blockchain developer</h2>
        <p>Blockchain developer</p>
        <p>Ecole 42</p>
      </div>
      <div class="IOT">
        <div class="picto">
          <%= image_tag("picto.png", :alt => "picto", :class => "roundedImage") %>
        </div>
        <h2>Thomas Charuel</h2>
        <h2>IoT developer</h2>
        <p>Ecole 42</p>
      </div>
    </div>
    <!-- Large modal -->
    <div class="advisor">
      <button type="button" class="btn boxBoard" data-toggle="modal" data-target=".bd-example-modal-lg">See our advisor board</button>
      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="teamTitle">
              <h1>Advisor board</h1>
            </div>
            <div class="teamMembers">
              <div class="Advisor1">
                <div class="picto">
                  <%= image_tag("picto.png", :alt => "picto", :class => "roundedImage") %>
                </div>
                <h2>Advisor One</h2>
                <p>Advisor</p>
              </div>
              <div class="Advisor2">
                <div class="picto">
                  <%= image_tag("picto.png", :alt => "picto", :class => "roundedImage") %>
                </div>
                <h2>Advisor Two</h2>
                <p>Advisor</p>
              </div>
              <div class="Advisor3">
                <div class="picto">
                  <%= image_tag("picto.png", :alt => "picto", :class => "roundedImage") %>
                </div>
                <h2>Advisor Three</h2>
                <p>Advisor</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="teamArrow">
      <a href="#prototype"><i class="fas fa-chevron-down"></i></a>
    </div>
  </div>
</div>

