<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google result text-->
    <title>BUYE.io - The Future of eCommerce</title>
    <!-- Google result description-->
    <meta name="description" content="We offer an operating network based on blockchain technology. Could our platform benefit for your online Retail?">
    <!-- Facebook description-->
    <meta property="og:title" content="BUYE.io - The Future of eCommerce">
    <meta property="og:image" content="">
    <meta property="og:description" content="We offer an operating network based on blockchain technology. Could our platform benefit for your online Retail?">
    <meta property="og:site_name" content="BUYE.io"/>
    <!-- Twitter description-->
    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="BUYE.io - The Future of eCommerce">
    <meta name="twitter:description" content="We offer an operating network based on blockchain technology. Could our platform benefit for your online Retail?">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image:src" content="">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= render 'shared/footer' %>
  </body>
</html>
